/* additional */
/* Custom styles for the temple cards */
.temple-card {
  background-color: white;
  color: black;
  border-radius: 10px;
  margin: 0 10px 20px;
  padding: 20px;
  position: relative;
  transition: background-color 0.3s, color 0.3s, cursor 0.3s;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.temple-card:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

.card-subtitle {
  color: #8a9a5b;
}

.btn-primary {
  background-color: #8a9a5b;
  border: none;
}

/* .card{
  text-align: center;
  display: flex;
    justify-content: center;
    align-items: center;
} */

.card-img-left {
    /* max-height: 250px; */
    height: 250px;
  }

/* Mobile-specific styles */
@media (max-width: 768px) {
  .temple-card {
    width: 100%;
    margin: 0 0 20px;
    padding: 15px;
  }

  .card-img-left {
    float: left;
    margin-right: 10px;
    max-width: 40%;
  }

  .card-body {
    overflow: hidden;
  }


  .card{
    text-align: center;
    display: flex;
      justify-content: center;
      align-items: center;
  }
}


body {
  background-color: rgba(222, 222, 222, 1) !important;
}