body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

/* nav {
  background-color:#8a9a5b;
} */

/* header {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
}

header h1 {
  margin: 0;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav li {
  display: inline-block;
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: #fff;
}

nav a:hover {
  color: #f2f2f2;
} */



nav {
  background-color: #8a9a5b;
  /* background-color: #26272b; */
  color: red;
}

main{
  /*text-align: center; /* Center-align the title */
  /* padding-top:80px; */
  /* padding-top:56px; */
      }